<!doctype html>
<html>
<head>
    <title>Anime List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    
    
    <meta name="author" content="Shawn Charles">
		<meta name="description" content="Find and save your favorite manga and anime, then share your list with friends!">
		<meta name="keywords" content="shawn, charles, anime, manga, node.js, express.js">
		
		

<!-- FAVICON FILES -->
<link href="img/favicon/favicon.ico" rel="shortcut icon">
<link href="img/favicon/favicon-16x16.png" rel="shortcut icon" sizes="16x16">
<link href="img/favicon/favicon-32x32.png" rel="shortcut icon" sizes="32x32">
<link href="img/favicon/apple-touch-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
<link href="img/favicon/apple-touch-icon-512x512.png" rel="apple-touch-icon" sizes="512x512">
<link href="img/favicon/apple-touch-icon.png" rel="apple-touch-icon">
    
</head>
<body>
<div>

    <div>
        <h1 class="vamp">Anime List</h1>
        <a href="/login" class="btn" id="firstBtn"><span class="vamp"></span>Login</a>
        <a href="/signup" class="btn" id="secondBtn"><span class="vamp"></span>Signup</a>

    </div>

</div>
</body>
</html>
