<!doctype html>
<html>
<head>
    <title>Top Anime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/170c91c28b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
 
    <meta name="author" content="Shawn Charles">
		<meta name="description" content="Find and save your favorite manga and anime, then share your list with friends!">
		<meta name="keywords" content="shawn, charles, anime, manga, node.js, express.js">

<!-- FAVICON FILES -->
<link href="img/favicon/favicon.ico" rel="shortcut icon">
<link href="img/favicon/favicon-16x16.png" rel="shortcut icon" sizes="16x16">
<link href="img/favicon/favicon-32x32.png" rel="shortcut icon" sizes="32x32">
<link href="img/favicon/apple-touch-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
<link href="img/favicon/apple-touch-icon-512x512.png" rel="apple-touch-icon" sizes="512x512">
<link href="img/favicon/apple-touch-icon.png" rel="apple-touch-icon">

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 class='vamp'><i class="fa fa-dragon"></i> Top Anime List</h1>
        
        
    <h3 id="marginAuto"><input type="search" placeholder="Search For Anime..."></input>
    <button><i class="fa fa-search" aria-hidden="true"></i></button></h3>
    
        <a href="/favs" class="btn">My Favs</a>
        <a href="/manga" class="btn">Manga</a>
        <a href="/logout" class="btn">Logout</a>
    </div>


</div>
<ol></ol>
  <ul>
  <% for(var i=0; i<anime.length; i++) {%>
      <%- anime[i].listItem %>
  <% } %>
  </ul>
  
<script src="mainAnime.js"></script>

</body>
</html>
