<!doctype html>
<html>
<head>
    <title>Anime List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    
    <meta name="author" content="Shawn Charles">
		<meta name="description" content="Find and save your favorite manga and anime, then share your list with friends!">
		<meta name="keywords" content="shawn, charles, anime, manga, node.js, express.js">

<!-- FAVICON FILES -->
<link href="img/favicon/favicon.ico" rel="shortcut icon">
<link href="img/favicon/favicon-16x16.png" rel="shortcut icon" sizes="16x16">
<link href="img/favicon/favicon-32x32.png" rel="shortcut icon" sizes="32x32">
<link href="img/favicon/apple-touch-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
<link href="img/favicon/apple-touch-icon-512x512.png" rel="apple-touch-icon" sizes="512x512">
<link href="img/favicon/apple-touch-icon.png" rel="apple-touch-icon">

</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1 class="vamp"><span class="fa fa-sign-in"></span> Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" placeholder="weeb@weeb.com">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="123Nani?">
        </div>

        <button type="submit" class="vamp">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a class="vamp" href="/login">Login</a></p>
    <p>Or go <a class="vamp" href="/">home</a>.</p>

</div>
</div>
</body>
</html>
